<app-navbar></app-navbar>
<div class="container my-5">

    <div class="row">
        <div class="col">
            <h1>People List</h1>
            <button class="btn btn-primary my-3">Add</button>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Phone</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>1</th>
                        <td>ali</td>
                        <td>ben ali</td>
                        <td>00 216 58 025 369</td>
                        <td>
                            <button class="btn btn-info">Details</button>
                            <button class="btn btn-danger mx-3">Delete</button>
                            <button class="btn btn-warning">Update</button>
                        </td>
                    </tr>
                    <tr>
                        <th>1</th>
                        <td>salah</td>
                        <td>ben salah</td>
                        <td>00 216 58 147 258</td>
                        <td>
                            <button class="btn btn-info">Details</button>
                            <button class="btn btn-danger mx-3">Delete</button>
                            <button class="btn btn-warning">Update</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<app-footer></app-footer>