<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/']"> <img [src]="imageUrl" alt="formalab logo" width="100px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <form class="form-inline my-2 my-lg-0 ml-auto">
            <button *ngIf="!isLoggedIn" class="btn btn-info my-2 my-sm-0" [routerLink]="['/login']">Login</button>
            <button *ngIf="!isLoggedIn" class="btn btn-primary mx-3 my-2 my-sm-0" [routerLink]="['/register']">Register</button>
            <button *ngIf="isLoggedIn" class="btn btn-danger my-2 my-sm-0" (click)="logout()">Logout</button>
        </form>
    </div>
</nav>